---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import Base from "@/layouts/Base.astro";
import Project from "@/components/Project.astro";

export const getStaticPaths = (async () => {
  const allProjects = await getCollection("projects");
  const tags = [...new Set(allProjects.map(project => project.data.tags).flat())];

  return tags.map(tag => {
    const filteredProjects = allProjects.filter(project => project.data.tags.includes(tag));
    return {
      params: { tag },
      props: { tags: tags, projects: filteredProjects },
    }
  });
}) satisfies GetStaticPaths;

const { tag } = Astro.params;
const { tags, projects } = Astro.props;
---
<Base title={`rhyses pieces | tagged: #${tag}`}>
  <section>
    <h1>Projects tagged: {tag}</h1>
    <nav aria-label="tag navigation">
      <ul>
        {tags.map(tag => (
          <li><a href={`/projects/tags/${tag}`}>{tag}</a></li>
        ))}
      </ul>
    </nav>
    <div>
      {projects.map(project => (
        <Project 
          title={project.data.title}
          slug={`/projects/${project.slug}`}
          date={project.data.date}
          tags={project.data.tags}
          imageUrl={project.data.image.source.src}
          imageAlt={project.data.image.alt}
        />
      ))}
    </div>
  </section>
</Base>