---
import { getCollection } from "astro:content";
import Base from "@/layouts/Base.astro";
import Project from "@/components/Project.astro";

const projects = await getCollection("projects");
const tags = [...new Set(projects.map(project => project.data.tags).flat())];
---
<Base title="rhyses pieces | tags">
  <header>
    <h1>Filter projects by tags</h1>
    <nav aria-label="tag navigation">
      <ul>
        {tags.map(tag => (
          <li><a href={`/projects/tags/${tag}`}>{tag}</a></li>
        ))}
      </ul>
    </nav>
  </header>

  <section class="full-bleed">
    {projects.map(project => (
      <Project 
        transitionName={`project-${project.id}`}
        title={project.data.title} 
        id={`/projects/${project.id}`}
        date={project.data.date}
        tags={project.data.tags}
        projectUrl={project.data.projectUrl}
        imageUrl={project.data.image.source}
        imageAlt={project.data.image.alt}
        imageCaption={project.data.image.caption}
      />
    ))}
  </section>
</Base>

<style>
  header {
    display: flex;
    flex-flow: column wrap;
    gap: 1lh;
    margin-bottom: 2rem;
  }

  nav[aria-label="tag navigation"] {
    > ul {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 0;
      gap: 0.5rem 2rem;

      > li {
        white-space: nowrap;

        &::marker { content: "#";}
      }
    }
  }

  .full-bleed {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    place-content: center;
    gap: 2rem;
    padding-inline: clamp(0.5rem, 1rem, 2rem);
  }
</style>